## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
Expression_Result = 5 + 4 * 9 % (3 + 1) / 6 - 1
print(Expression_Result)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [ ]:
num=int(input("Enter a number : "))
if num % 2!=0:
  print(f"{num} is odd number")
else:
  print(f"{num} is even number")

Enter a number : 7
7 is odd number

**Q3**: Write a program to display the multiplication table by taking a number as input.
    [Hint : Use print statement inside of a loop]

In [ ]:
num = int(input("Enter a number: "))
print(f"Multiplication Table for {num}:")
for i in range(1, 11):
  print(f"{num} x {i} = {num * i}")

Enter a number: 20
Multiplication Table for 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7
    but are not a multiple of 5.

Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
numbers = []
for i in range(2000, 3201):
  if (i % 7 == 0) and (i % 5 != 0):
    numbers.append(str(i))
print(','.join(numbers))
     # print(i)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [ ]:
# prompt: Count the elements of each datatype inside the list and display in output [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

list_data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

data_types = {}
for item in list_data:
  data_type = type(item)
  if data_type not in data_types:
    data_types[data_type] = 0
  data_types[data_type] += 1

for data_type, count in data_types.items():
  print(f"{data_type}: {count}")

<class 'int'>: 5
<class 'str'>: 4
<class 'float'>: 1
<class 'bool'>: 1
<class 'NoneType'>: 1

Q6: Add all values from the list with numeric datatypes
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [2]:
# Given list
elements = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

# Initialize the total sum
total_sum = 0

# Iterate through the list and sum numeric values
for element in elements:
    if isinstance(element, (int, float)):  # Check if the element is an int or float
        total_sum += element

# Display the total sum
print("The sum of all numeric values is:", total_sum)

The sum of all numeric values is: 22.5

# Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [3]:
elements = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
string_elements = []
for element in elements:
  if isinstance(element, str):
    string_elements.append(element)
result = '-'.join(string_elements)
print(result)

Py-10-SQL-John

Q8 Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [4]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# i. Using loops
odd_numbers_loop = []
for num in li:
  if num % 2 != 0:
    odd_numbers_loop.append(num)
print("Odd numbers using loops:", odd_numbers_loop)


# ii. Using list comprehensions
odd_numbers_comprehension = [num for num in li if num % 2 != 0]
print("Odd numbers using list comprehension:", odd_numbers_comprehension)


# iii. Using lambda function with filter
odd_numbers_lambda = list(filter(lambda num: num % 2 != 0, li))
print("Odd numbers using lambda and filter:", odd_numbers_lambda)

Odd numbers using loops: [5, 7, 97, 77, 23, 73, 61]
Odd numbers using list comprehension: [5, 7, 97, 77, 23, 73, 61]
Odd numbers using lambda and filter: [5, 7, 97, 77, 23, 73, 61]

Q9: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows :

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [5]:
def calculate_area(shape, **kwargs):
    """Calculate the area of different shapes"""
    if shape == "square":
        if "side" in kwargs:
            side = kwargs["side"]
            if side <= 0:
                return "Side must be a positive number."
            return side ** 2
        else:
            return "Please enter 'side' for a square."

    elif shape == "rectangle":
        if "length" in kwargs and "width" in kwargs:
            length = kwargs["length"]
            width = kwargs["width"]
            if length <= 0 or width <= 0:
                return "Length and width must be positive numbers."
            return length * width
        else:
            return "Please enter 'length' and 'width' for a rectangle."

    elif shape == "circle":
        if "radius" in kwargs:
            radius = kwargs["radius"]
            if radius <= 0:
                return "Radius must be a positive number."
            return 3.14159 * (radius ** 2)  # Using Pi approximation
        else:
            return "Please enter 'radius' for a circle."

    else:
        return "Unsupported shape. Please use 'square', 'rectangle', or 'circle'."

# Example usage
if __name__ == "__main__":
    shape = input("Enter the shape (square, rectangle, circle): ").strip().lower()

    if shape == "square":
        side = float(input("Enter the side length: "))
        area = calculate_area(shape, side=side)
    elif shape == "rectangle":
        length = float(input("Enter the length: "))
        width = float(input("Enter the width: "))
        area = calculate_area(shape, length=length, width=width)
    elif shape == "circle":
        radius = float(input("Enter the radius: "))
        area = calculate_area(shape, radius=radius)
    else:
        area = "Unsupported shape."

    print("Area:", area)

Enter the shape (square, rectangle, circle): rectangle
Enter the length: 4
Enter the width: 6
Area: 24.0

Q10: write a UDF to check if a number is prime or not.

In [7]:


def is_prime(n):
  """
  Checks if a number is prime or not.

  Args:
      n: The number to check.

  Returns:
      True if n is prime, False otherwise.
  """
  if n <= 1:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

Q11. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [8]:
def reverse_string(input_string):
  """Reverses a given string.

  Args:
    input_string: The string to be reversed.

  Returns:
    The reversed string.
  """
  return input_string[::-1]

# Get input from the user
input_str = input("Enter a string: ")

# Reverse the string and print the result
reversed_str = reverse_string(input_str)
print("Reversed string:", reversed_str)

Enter a string: aeee
Reversed string: eeea